---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>The Return of Liedzeit</h1>
  <h3>Quote of the day</h3>
  <div class="vibe"></div>
  <br>
  <div class="love">
    ❤️
  </div>

  <ul>
  {% for article in news.articles %}
  <li>
  <h4><a  href="{{article.url }}">{{article.title }}</a></h4>
  <span>{{ article.source.name}} - <time>{{ article.publishedAt }}</time></span>
  </li>
  {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>


<!--adb9fedfe4904fe889d697e064c6c69b-->